server:
  port: 9000
  servlet:
    session:
      cookie:
        name: JSESSIONID
        secure: true
        same-site: None

logging:
  level:
    org.springframework.security: trace

spring:
  data:
    redis:
      host: localhost
      port: 6379
      database: 0             # Redis DB index，預設是 0
      timeout: 5000ms         # 連線 timeout 時間
      lettuce:
        pool:
          max-active: 10      # 最多連線數
          max-idle: 5
          min-idle: 1
          max-wait: 5s
  threads:
    virtual:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update  # 可選 create / update / none
    show-sql: true
    properties:
      hibernate:
        physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    url: jdbc:mysql://localhost:3306/cclemon-auth?allowPublicKeyRetrieval=true&serverTimezone=Asia/Taipei&useSSL=false
    username: root
    password: P@ssw0rd
    driverClassName: com.mysql.cj.jdbc.Driver

management:
  endpoints:
    web:
      exposure:
        include: health

cclemon-ui:
  url: http://127.0.0.1:5173